<div id="menu-container" class="hidden">
  <div id="mobilenavmenu">
		<a class="mobilenavlink" href="/bio" id="biolink">Bio</a>
		<a class="mobilenavlink" href="/media" id="medialink">Media</a>
		<a class="mobilenavlink" href="/music" id="musiclink">Music</a>
		<a class="mobilenavlink" href="/blog" id="bloglink">Blog</a>
		<a class="mobilenavlink" href="/contact" id="contactlink">Contact</a>
	</div>
	<div id="antihamburger-container">
	    <div id="antihamburger-menu">
	      <a href="#">
	        <img id="antihamburger" src={{asset "assets/images/blackantihamburger.png"}}>
	      </a>
	    </div>
	 </div>
	<div id="headcontainer">
		<img id="circlehead" src={{asset "assets/images/lolahead.png"}}>
    <img id="circlehead" src={{asset "assets/images/circlehead.png"}}>
    <img id="circlehead" src={{asset "assets/images/beanhead.png"}}>
	</div>
</div>
