<div id="navigation-container">
  <div id="name-container">
    <a id="homelink" href="https://jonnytiernan.com">Jonny Tiernan</a>
  </div>
  <div id="links">
    <a class="navlink" href="/bio" id="biolink">Bio</a>
    <a class="navlink" href="/media" id="medialink">Media</a>
    <a class="navlink" href="/music" id="musiclink">Music</a>
    <a class="navlink" href="/blog" id="bloglink">Blog</a>
    <a class="navlink" href="/contact" id="contactlink">Contact</a>
  </div>
</div>
<div id="hamburger-container">
  <div id="hamburger-menu">
    <a href="#">
      <img id="hamburger" src={{asset "assets/images/blackhamburger.png"}}>
    </a>
  </div>
</div>
