<div class="pagination">
  {{#if prev}}
    <div class="pagination-left">
      <a class="older-posts" href="{{page_url prev}}">
        &larr;
      </a>
    </div>
  {{/if}}
  <div class="pagination-center">
    <div class="pages">Page {{page}} of {{pages}}</div>
  </div>
    {{#if next}}
      <div class="pagination-right">
          <a class="newer-posts" href="{{page_url next}}">
            &rarr;
          </a>
        </div>
    {{/if}}  
</div>
