{{!< default}}
{{> navigation}}
{{> hamburgermenu}}
<div id="error-page" class="content">
			<img src="{{ asset "images/dawgs404.jpg"}}" alt="404"/>
      <div class="error-page-text">Page not found.</div>
</div>
