{{!< default}}
{{> navigation}}
{{> hamburgermenu}}
<div id="home">
  <div id="home-content" class="content">
    <img id="home-image" src="{{assets}} assets/images/dawgs.jpg">
  </div>
  <div class="content">
    <h2>Hi, I'm Jonny.</h2>
    <p>That's Lola on the left (yes, the magazine is named after her) and on my lap is Jessica (A.K.A. The Bean).</p>
  </div>
</div>
