{{!< default}}
{{> navigation}}
{{> hamburgermenu}}
{{#post}}
  <div class="postpage-post-wrapper">
    <div class="post-image">
      <img src="{{feature_image}}">
    </div>
    <div class="post-info-wrapper">
      <div class="post-info">
        <div class="post-title">
          {{title}}
        </div>

      </div>
    </div>
    <div class="post-content-wrapper">
      <div class="post-content">
        <div class="content-text">
          {{content}}
        </div>
        <div class="post-permalink">
          <a href="{{url}}">Permalink</a>
        </div>
      </div>
    </div>
  </div>
  {{> pagination-single}}
{{/post}}
